<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css"> 
        <link rel="stylesheet" href="css/header_style.css">
    </head>
    <body>
        <div class="page_container">
            <div class="header_container">
                <div class="header_banner">
                </div>
                <div class="buttons_container">
                    <button class="menu_button">
                        <a href="/logout">Logout</a>
                    </button>
                </div>
            </div>
            <div class="content_container">
                <%- page_content %>
            </div>
        </div>
    </body>
</html>