<div class="flex_row" style="gap: 4rem;
                             margin-top: 3rem;
                             width: 90%;
                             margin-left: auto;
                             margin-right: auto">
    <div class="widget_container" style="width:20%;
                                         height:10rem;">
        <div class="home_widget_top">
            <div class="flex_column" style="height: 100%;">
                <div class="flex_row">
                    <img class="home_widget_icon" src="images/search.png">
                </div>
            </div>
        </div>
        <div class="home_widget_bottom flex_column">Search</div>
    </div>
    <div class="widget_container" style="width: 20%">
        <div class="home_widget_top"></div>
        <div class="home_widget_bottom flex_column">In work...</div>
    </div>
    <div class="widget_container" style="width: 20%">
        <div class="home_widget_top"></div>
        <div class="home_widget_bottom flex_column">In work...</div>
    </div>
    <div class="widget_container" style="width: 20%">
        <div class="home_widget_top"></div>
        <div class="home_widget_bottom flex_column">In work...</div>
    </div>
</div>