<div class="header_container">
    <div class="header_banner">
        <div class="menu_bar">
            <div class="right_buttons_container">
                <button>LOG OUT</button>
            </div>
        </div>
    </div>
</div>